.App {
  font-family: sans-serif;
  text-align: center;
}

main {
  display: flex;
}

aside {
  flex: 1;
  border-right: 2px solid blue;
}

section {
  flex: 4;
}

.header {
  font-size: 48px;
  color: blue;
}
